
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>个人收支情况</title>

    <link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../js/bootstrap/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/local.css" />
    
    <link id="themecss" rel="stylesheet" type="text/css" href="../../js/bootstrap/css/all.min.css" />

    <link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="../../js/common/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" type="text/css" href="../../js/common/bootstrap-select-1.12.4/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="../../js/bootstrap/bootstrap-fileinput/css/fileinput.min.css">
</head>
<body>

    <div id="wrapper">
    	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header"  style="background-color: #464C5B;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/html/index.html">返回主页面</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" style="background-color: #464C5B;">
                <ul class="nav navbar-nav side-nav" id="menu_ul">
                	
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 New Messages</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                        </ul>
                    </li>
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                            <span class="msg_span"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/html/template/information/updatePassword.html"><i class="fa fa-user"></i> 修改密码</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> 个人资料设置</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-power-off"></i> 退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="container">
        	<form class="form-horizontal" id="consumeForm" method="post" >
            <input type="hidden" id="currentPage" name="currentPage">
            <div class="row form-group">
		            <div class="alert alert-success queryUser" role = "alert" style="display: none;height:45px;">
			           <button class="close"  data-dismiss="alert" type="button" >&times;</button>
			    		<p class="success"><span style="color: blue;font-size:15px;" class="span success queryUser"></span></p>
			        </div>
			        <div class="alert alert-warning queryUser" role="alert" style="display: none;height:45px;">
						<button class="close"  data-dismiss="alert" type="button" >&times;</button>
						<p class="warning"><span style="color: red;font-size:15px;" class="span warning queryUser"></span></p>
					</div>
			</div>
            <div class="row">
                <div class="col-xs-4 form-group ">
                    <label class="col-xs-3 control-label">&nbsp;消&nbsp;费&nbsp;人&nbsp;:</label>
                    <div class="col-xs-9">
                        <div class="col-xs-10 input-group" >
                            <input type="text" class="form-control" id="qUserName" name="qUserName" placeholder="请输入消费人">
                        </div>
                    </div>
               </div>

                <div class="col-xs-4 form-group">
                    <label class="col-xs-3 control-label">&nbsp;备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;:</label>
                    <div class="col-xs-9">
                        <div class="col-xs-10 input-group">
                            <input type="text" class="form-control" id="qRemark"
                                   name="qRemark" placeholder="请输入备注">
                        </div>
                    </div>
                </div>
         
                <div class="col-xs-4 form-group">
                   <label class="col-xs-3 control-label">消费类型:</label>
	                <div class="col-xs-9">
                        <div class="col-xs-10" style="border:0px red solid;padding:0px;">
                            <select class="selectpicker form-control consumeId" style="" data-live-search="true"
                                    data-style="btn-default" id="qConsumeId" name="qConsumeId">

                            </select>
                        </div>
                    </div>
                </div>
                

            </div>
            
            <div class="row">
                <div class="col-xs-4 form-group">
                     	<label class="col-xs-3 control-label">开始时间:</label>
	                    <div class="col-xs-9">
	                        <div class="col-xs-10 input-group">
	                           <input class="datetimepicker form-control" id="startTime" type="text" name="startTime" 
	                           placeholder="请输入开始时间" readonly />
	                        </div>
                    	</div>
                </div>
                <div class="col-xs-4 form-group">
	                     <label class="col-xs-3 control-label">结束时间:</label>
	                     <div class="col-xs-9">
	                        <div class="col-xs-10 input-group" style="border:0px red solid;">
	                           <input class="datetimepicker form-control" id="endTime" type="text" name="endTime"  
	                           placeholder="请输入结束时间" readonly/>
	                        </div>
                    	</div>
                </div>
                <div class="col-xs-4 form-group" style="">
                    <label class="col-xs-3 control-label">消费渠道:</label>
                    <div class="col-xs-9">
                        <div class="col-xs-10" style="border:0px red solid;padding:0px;">
                            <select class="selectpicker form-control qConsumeChannel" style="" data-live-search="true"
                                    data-style="btn-default" id="qConsumeChannel" name="qConsumeChannel">

                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 text-center"></div>
                <div class="col-xs-6 text-center">
                    <button type="button" class="btn btn-primary" id="queryDetail">查&nbsp;询</button>
                    <span class="" style="margin-left: 10px;"></span>
                    <button type="button" class="btn btn-success" id="addConsumeDetail"
                            data-toggle="modal"  data-keyboard="true">添&nbsp;加</button> <!--  //data-target="#addUserModal" -->
                     <span class="" style="margin-left: 15px;"></span>
                    <button type="button" class="btn btn-warning" id="importConsumeDetail">导入</button>
                    <span class="" style="margin-left: 10px;"></span>
                    <button type="button" class="btn btn-info" id="clearQueryText">清&nbsp;空</button>
                </div>
            </div>
        </form>
        
        	<div class="row">
        		<div class="panel panel-info">
        			<div class="panel panel-heading">
                    	<span class="span" style="font-size: 16px;">查询结果</span>
                	</div>
                <div class="panel panel-body" style="border: 0px red solid;margin-top: -20px;">
                	<div class="col-xs-12 text-center" >
                		<table class="table table-hover table-bordered table-striped">
	                        <!--<caption class="text-left" style="font-size: 20px;"></caption>-->
	                        <thead>
	                        <tr>
	                            <th class="text-center" style="width: 5%;">序号</th>
	                            <th class="text-center" style="width: 10%;">消费人</th>
	                            <th class="text-center" style="width: 12%;">时间</th>
	                            <th class="text-center" style="width: 8%;">星期</th>
	                            <th class="text-center" style="width: 12%;">消费类型</th>
	                            <th class="text-center" style="width: 8%;">支出/收入</th>
	                            <th class="text-center" style="width: 8%;">金额</th>
	                            <th class="text-center" style="width: 8%;">支出渠道</th>
	                            <th class="text-center" style="width: 12%;">备注</th>
	                            <th class="text-center" style="width: 12%;">更新时间</th>
	                            <th class="text-center" style="width: 6%;">操作</th>
	                        </tr>
	                        </thead>
	                        <tbody id="consumeDetailInfoBody">
	
	                        </tbody>
	                    </table>
	                    <div id="page" style="text-align:right;"></div>
                	</div>
                </div>
        	</div>
        		
        		
        	</div>
        
        <!-- 添加消费模态框 -->
    <div class="modal fade in" id="addConsumeDetailModal" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" style="width: 60%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="font-family: 'Arial Black';font-weight: bold;
                    font-size: 20px;">添加消费详情</h4>
                </div>
                <div class="modal-body" style="width: 100%;">
	                <div class="alert alert-success addConsume" role = "alert" style="display: none">
	                	<button class="close"  data-dismiss="alert" type="button" >&times;</button>
	    				<p class="success_p addConsume"></p>
	                </div>
	                <div class="alert alert-warning addConsume" role="alert" style="display: none">
					    <button class="close"  data-dismiss="alert" type="button" >&times;</button>
					    <p class="warning_p addConsume"></p>
					</div>
                    <form class="form-horizontal" id="addConsumeForm">
                        <div class="row" style="border:0px red solid;text-center:center;">
                            <div class="col-xs-6 form-group">
                                <label class="col-xs-3 control-label">用&nbsp;户&nbsp;名&nbsp;:</label>
                                <div class="col-xs-9">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="userName"
                                               name="userName" placeholder="请输入用户名">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="col-xs-3 control-label">消费类型:</label>
                                <div class="col-xs-9">
                                    <div class="col-xs-10">
                                        <select class="selectpicker form-control consumeId" style="" data-live-search="true"
			                                    data-style="btn-default" id="consumeId" name="consumeId">
			
			                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="border:0px red solid;text-center:center;">
                            <div class="col-xs-6 form-group">
                                <label class="col-xs-3 control-label">消费时间:</label>
                                <div class="col-xs-9">
                                    <div class="col-xs-10">
                                        <input class="datetimepicker form-control" id="consume_time" type="text" name="consume_time" 
	                           placeholder="请输入开始时间" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label class="col-xs-3 control-label">消费金额:</label>
                                <div class="col-xs-9">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="consume_money"
                                               name="consume_money" placeholder="请输入金额">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" style="border:0px red solid;text-center:center;">
                        	<div class="col-xs-6 form-group">
                        		<label class="col-xs-3 control-label">&nbsp;备&nbsp;&nbsp;注&nbsp;:</label>
                                <div class="col-xs-9">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="remark"
                                               name="remark" placeholder="请输入备注">
                                    </div>
                                </div>
                        	</div>
                            <div class="col-xs-6 form-group">
                                <label class="col-xs-3 control-label">消费渠道:</label>
                                <div class="col-xs-9">
                                    <div class="col-xs-10">
                                        <select class="selectpicker form-control addChannelCode" style="" data-live-search="true"
                                                data-style="btn-default" id="addChannelCode" name="addChannelCode">

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                	<div style="border:0px red solid;margin-right:50px;">
	                	 <button type="button" class="btn btn-primary" id="saveConsumeDetail">保&nbsp;存</button>
	                	 <span class="" style="width: 20px;margin-left: 15px;"></span>
	                     <button type="button" class="btn btn-info" data-dismiss="modal">关&nbsp;闭</button>
                	</div>
                   
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    
    <!-- 导入模态框  -->
    <div class="modal fade in" id="uploadConsumeDetail" role="dialog" aria-labelledby="myModalLabel" >
		<div class="modal-dialog" style="" role="document">
            <div class="modal-content">
            	 <div class="modal-header">
            	 	<button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			    	 <h4 class="modal-title" style="font-family: 'Arial Black';font-weight: bold;font-size: 20px;">请选择要上传的文件</h4>
				</div>
				 <div class="modal-body" style="width: 100%;">
				    <div class="alert alert-warning uploadConsume_div" role="alert" style="display: none">
					    <button class="close"  data-dismiss="alert" type="button" >&times;</button>
					    <p class="warning_p uploadConsume_p"></p>
					</div>
				 	<a href="/dowload/excelTemplate/consume.xls" class="form-control" style="border:none;font-size:16px;color:blue;">下载导入模板</a>
				 	<p> <input id="file-Portrait" type="file" class="file-loading" name="file-Portrait"/></p>
				 </div>
				<!--  <div class="modal-footer">
				 	<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
	                	 <span class="" style="width: 20px;margin-left: 15px;"></span>
				 	<button type="button" class="btn btn-info" id="btn_upload">上传</button>
				 </div> -->
		 	</div>
		</div>
    </div>
        
            <div class="row">
                <div class="col-lg-12 text-center v-center" style="font-size: 39pt;">
                    <a href="#"><span class="avatar"><i class="fa fa-google-plus"></i></span></a>
                    <a href="#"><span class="avatar"><i class="fa fa-linkedin"></i></span></a>
                    <a href="#"><span class="avatar"><i class="fa fa-facebook"></i></span></a>
                    <a href="#"><span class="avatar"><i class="fa fa-github"></i></span></a>
                </div>

            </div>

        </div>
        <!-- /#page-wrapper -->
    </div>    
</body>
<script type="text/javascript" data-main="../../js/myjs/signup.js" src="../../js/common/require.js"></script>
</html>
